.wrapper {
    height: 100vh;
}

.createButton {
    border: none;
    background: transparent;
    padding: calc(var(--size) - 0.5rem) calc(var(--size) * 2);
    border-color: var(--secondary);
    color: var(--text);
    margin-left: auto;
    font-size: calc(var(--size) * 2.5);
}

@media (min-width: 540px) {
    .wrapper {
        background-size: 520px;
        padding: 80px 50px 40px;
        width: 470px;
        margin: 0 auto;
        background-image: url("../../images/iphone.png");
        background-repeat: no-repeat;
        background-position: center;
    }

    .content {
        position: relative;
        height: 100%;
        overflow: hidden;
        border-radius: calc(var(--radius) * 5);
    }
}

@media (max-width: 539px) {
    .wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .content {
        width: 100%;
        padding: 0 calc(var(--size) * 2);
    }
}