@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

@media (prefers-color-scheme: light) {
    :root {
        --primary: #D5D5D5;
        --secondary: #F2F2F2;
        --background: #FFFFFF;
        --text: #000000;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --primary: #0F2027;
        --secondary: #2C5364;
        --background: #000000;
        --text: #FFFFFF;
    }
}

:root {
    --green: #11998e;
    --red: #ec2F4B;
    --border: var(--primary);
    --duration: 0.5s;
    --transition: all ease-in-out var(--duration);
    --font: 'Open Sans', sans-serif;
    --base-font-size: 10px;
    --size: 1rem;
    --gap: 0.5rem;
    --radius: 0.5rem;
}

*, ::before, ::after {
    box-sizing: border-box;
    outline: none;
    font-family: var(--font);
}

html {
    font-size: var(--base-font-size);
}

body {
    background: var(--background);
    font-size: var(--size);
    margin: 0;
}

ul, ol, dl, menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

button {
    border: 1px solid;
    cursor: pointer;
    display: block;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

img {
    max-width: 100%;
    display: block;
}

input:not([type="checkbox"], [type="radio"]) {
    border: 1px solid var(--border);
    width: 100%;
    height: calc(var(--size) * 4);
    border-top-left-radius: var(--radius);
    border-top-right-radius: var(--radius);
    background: transparent;
}