.item {
    display: flex;
    flex-wrap: wrap;
    border-radius: var(--radius);
    background: var(--secondary);
}

.item:not(:last-child) {
    margin-bottom: calc(var(--size) * 1.2);
}

.item > *:first-child {
    flex: 1;
}

.button {
    border: none;
    padding: calc(var(--gap) * 2) calc(var(--gap) * 4);
    width: 100%;
    display: flex;
    align-items: center;
    text-align: left;
}

.image {
    width: calc(var(--size) * 5);
    margin-right: calc(var(--gap) * 2);
    position: relative;
}

.content {
    flex: 1;
}

.avatar {
    border-radius: 100%;
    background: var(--secondary);
}

.name {
    font-size: calc(var(--size) * 1.5);
    font-weight: 600;
}

.phone {
    font-size: calc(var(--size) * 1.2);
    opacity: 0.7;
    letter-spacing: 1px;
}

.status {
    width: var(--size);
    height: var(--size);
    border-radius: 100%;
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
}

.statusOn {
    background: var(--green);
}

.statusOff {
    background: var(--red);
}

.delete {
    border: none;
    background: transparent;
    padding: 0 calc(var(--size) * 2);
    height: 100%;
}